<h1> Titanics Dataset Predictions </h1>
<h2> Jose M. Serra Jr. </h2>

In [20]:
import matplotlib.pyplot as mplplt
import numpy as np
import pandas as pd
from scipy.stats import reciprocal
import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras.callbacks import *
from tensorflow.keras.layers import *
from tensorflow.keras.metrics import *
from tensorflow.keras.models import *
from tensorflow.keras.optimizers import *
from tensorflow.keras.optimizers.schedules import *
import tensorflow.keras.callbacks as tkc
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.compose import make_column_transformer, ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.manifold import Isomap
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.utils import resample

In [21]:
file1_train, file2_test = pd.read_csv(r"D:\Datasets\Titanic\train.csv", delimiter=","),\
pd.read_csv(r"D:\Datasets\Titanic\test.csv", delimiter= ",")

<p> Now I am going to encode the Sex column into a binary 1s, and 0s output Sex_Binary column.</p>

In [24]:
file1_train = file1_train.drop(columns = ["PassengerId","Name"])
X, y = file1_train.drop("Survived", axis=1), file1_train["Survived"]

In [25]:
file1_train

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [26]:
objs = X.select_dtypes(["object"])
num  = X.select_dtypes(["number"])

In [27]:
objs.isnull().sum().head()

Sex           0
Ticket        0
Cabin       687
Embarked      2
dtype: int64

In [28]:
num.isnull().sum().head()

Pclass      0
Age       177
SibSp       0
Parch       0
Fare        0
dtype: int64

In [29]:
numerical_features = num.columns
numerical_pipeline = Pipeline(
    steps=[
            ("imputer", SimpleImputer(strategy = 'mean')),
            ("scaler", StandardScaler())
])

In [30]:
for i in range(len(objs.columns)):
    print(objs.columns[i], objs.iloc[:,i].value_counts().unique())

Sex [577 314]
Ticket [7 6 5 4 3 2 1]
Cabin [4 3 2 1]
Embarked [644 168  77]

In [31]:
binary = ["Sex"]
binary_pipeline = Pipeline(steps=[("binary", OneHotEncoder())])

In [32]:
cat1 = ["Ticket", "Cabin", "Embarked"]
catergorical_pipeline = Pipeline(steps=[("imputer", SimpleImputer(strategy = 'most_frequent')), ("ordinal_encoder", OrdinalEncoder()),("scaler", StandardScaler())])

In [33]:
data_preprocessor = ColumnTransformer( [('numerical', numerical_pipeline, numerical_features),
                                      ('binary', binary_pipeline, binary),
                                      ('categorical', catergorical_pipeline, cat1)])

In [34]:
X

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,female,35.0,1,0,113803,53.1000,C123,S
4,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...
886,2,male,27.0,0,0,211536,13.0000,NaN,S
887,1,female,19.0,0,0,112053,30.0000,B42,S
888,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,male,26.0,0,0,111369,30.0000,C148,C
890,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [35]:
X = Pipeline(steps=[('processing',data_preprocessor)]).fit_transform(X)

In [36]:
param_distribs = {'learn_rate' : np.array(np.linspace(.1,.9))}

In [70]:
def base_model1(learn_rate = .1):
    input_dim = X.shape[1]
    model =Sequential([
    Dense(200 , input_dim = input_dim, activation= "relu"),
    Dropout(rate=.10),
    Dense(100, activation= "tanh"),
    Dense(1,activation = "sigmoid"),
    ])
    lr_schedule = ExponentialDecay(
    learn_rate,
    decay_steps=100000,
    decay_rate=0.96,
    staircase=True)
    model.compile(loss='binary_crossentropy',optimizer=tf.keras.optimizers.Adam(learning_rate=lr_schedule), metrics=["accuracy"])
    return model

In [71]:
checkpoint = [ModelCheckpoint("Titanic.h5", monitor='accuracy', verbose=1, save_best_only=True, save_weights_only=False, mode='auto', save_freq='epoch')]
early = EarlyStopping(monitor='accuracy', min_delta=0, patience=10, verbose=1, mode='auto')

In [72]:
NN_clf = KerasClassifier(build_fn=base_model1, epochs=100, verbose=1, callbacks =[checkpoint,early] )#callbacks=[lr_scheduler])
#NN_clf._estimator_type = "classifier"

In [76]:
random_trainor = GridSearchCV(estimator=NN_clf,param_grid=param_distribs, cv=None)
random_trainor.fit((X,Reconstructions),(y.values.reshape(-1,1)))

ValueError: Found input variables with inconsistent numbers of samples: [2, 891]

In [46]:
best = random_trainor.best_estimator_.model

In [47]:
best.summary()

Model: "sequential_256"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_768 (Dense)            (None, 200)               2200
_________________________________________________________________
dropout_256 (Dropout)        (None, 200)               0
_________________________________________________________________
dense_769 (Dense)            (None, 100)               20100
_________________________________________________________________
dense_770 (Dense)            (None, 1)                 101
=================================================================
Total params: 22,401
Trainable params: 22,401
Non-trainable params: 0
_________________________________________________________________

In [49]:
best.save("Titanic.h5")

In [48]:
X_test = data_preprocessor.fit_transform(file2_test)
X_test

array([[ 0.87348191,  0.3349926 , -0.49947002, ..., -0.26949361,
        -0.35149045, -0.47091535],
       [ 0.87348191,  1.32553003,  0.61699237, ...,  0.37293425,
        -0.35149045,  0.70076689],
       [-0.31581919,  2.51417495, -0.49947002, ..., -1.00502694,
        -0.35149045, -0.47091535],
       ...,
       [ 0.87348191,  0.65196458, -0.49947002, ...,  1.53675282,
        -0.35149045,  0.70076689],
       [ 0.87348191,  0.        , -0.49947002, ...,  0.3636237 ,
        -0.35149045,  0.70076689],
       [ 0.87348191,  0.        ,  0.61699237, ..., -0.70708939,
        -0.35149045, -1.64259759]])

In [50]:
PassengerId = file2_test["PassengerId"].to_list()

In [51]:
best.predict(X_test)

array([[0.04392037],
       [0.2218095 ],
       [0.19832149],
       [0.02812907],
       [0.6128014 ],
       [0.03252152],
       [0.37740767],
       [0.09421116],
       [0.2721239 ],
       [0.03116572],
       [0.02812907],
       [0.01799607],
       [0.97670496],
       [0.09445503],
       [0.95531166],
       [0.7196944 ],
       [0.06423452],
       [0.09824595],
       [0.62595403],
       [0.24903092],
       [0.01989615],
       [0.21785879],
       [0.99645275],
       [0.00474545],
       [0.9450077 ],
       [0.02029982],
       [0.80060625],
       [0.09824595],
       [0.19832149],
       [0.09824595],
       [0.01235852],
       [0.03584003],
       [0.6833513 ],
       [0.6833513 ],
       [0.19832149],
       [0.09824595],
       [0.37740767],
       [0.37740767],
       [0.02812907],
       [0.19832149],
       [0.28868622],
       [0.16847512],
       [0.00676227],
       [0.3113969 ],
       [0.9865422 ],
       [0.03252152],
       [0.01989615],
       [0.03106523],
       [0.9930207 ],
       [0.7556294 ],
       [0.19832149],
       [0.03252152],
       [0.7196944 ],
       [0.97999936],
       [0.03252152],
       [0.13450047],
       [0.02812907],
       [0.0304828 ],
       [0.03252152],
       [0.9716438 ],
       [0.04392037],
       [0.09445503],
       [0.04392037],
       [0.37740767],
       [0.39051184],
       [0.6397985 ],
       [0.37740767],
       [0.19832149],
       [0.19832149],
       [0.8660751 ],
       [0.5522599 ],
       [0.04392037],
       [0.3975152 ],
       [0.02228674],
       [0.9930207 ],
       [0.36732313],
       [0.03252152],
       [0.19746006],
       [0.09234461],
       [0.37740767],
       [0.4272391 ],
       [0.06003401],
       [0.19832149],
       [0.02812907],
       [0.02812907],
       [0.09824595],
       [0.37740767],
       [0.73821485],
       [0.37740767],
       [0.09824595],
       [0.4347926 ],
       [0.02812907],
       [0.8923135 ],
       [0.03252152],
       [0.06423452],
       [0.04392037],
       [0.82720625],
       [0.03252152],
       [0.37740767],
       [0.03252152],
       [0.8045242 ],
       [0.02812907],
       [0.03106511],
       [0.02812907],
       [0.7196944 ],
       [0.03252152],
       [0.04392037],
       [0.03252152],
       [0.02812907],
       [0.36976933],
       [0.06423452],
       [0.37740767],
       [0.8535844 ],
       [0.37740767],
       [0.9716438 ],
       [0.09824595],
       [0.09824595],
       [0.9013219 ],
       [0.19832149],
       [0.59564906],
       [0.89368415],
       [0.03252152],
       [0.8741875 ],
       [0.03252152],
       [0.03106511],
       [0.8140137 ],
       [0.03106511],
       [0.6128014 ],
       [0.09445503],
       [0.02812907],
       [0.03252152],
       [0.19832149],
       [0.12097552],
       [0.09824595],
       [0.02945206],
       [0.03106511],
       [0.09824595],
       [0.0281477 ],
       [0.7533697 ],
       [0.03009871],
       [0.29418406],
       [0.9950044 ],
       [0.5183646 ],
       [0.09445503],
       [0.19832149],
       [0.02029988],
       [0.3713187 ],
       [0.03252152],
       [0.19832149],
       [0.04392037],
       [0.9812612 ],
       [0.03106511],
       [0.01007488],
       [0.74674493],
       [0.079822  ],
       [0.03252152],
       [0.9543347 ],
       [0.37740767],
       [0.19832149],
       [0.6833513 ],
       [0.37740767],
       [0.5166246 ],
       [0.3113969 ],
       [0.02812907],
       [0.09445503],
       [0.6128014 ],
       [0.01989615],
       [0.18542424],
       [0.3113969 ],
       [0.6399365 ],
       [0.03252152],
       [0.09824595],
       [0.03106511],
       [0.09824595],
       [0.03009057],
       [0.9286712 ],
       [0.9576205 ],
       [0.19832149],
       [0.9208299 ],
       [0.95433456],
       [0.09445503],
       [0.03438985],
       [0.9830624 ],
       [0.03252152],
       [0.98211896],
       [0.09445503],
       [0.7473876 ],
       [0.03655514],
       [0.04653391],
       [0.02812907],
       [0.09443232],
       [0.19832149],
       [0.11030185],
       [0.19832149],
       [0.73936176],
       [0.02812907],
       [0.9713708 ],
       [0.37740767],
       [0.01989615],
       [0.48136297],
       [0.6150507 ],
       [0.6521255 ],
       [0.09204006],
       [0.7196944 ],
       [0.01989615],
       [0.01989615],
       [0.4992868 ],
       [0.02812907],
       [0.6179817 ],
       [0.04392037],
       [0.03252152],
       [0.03252152],
       [0.02338377],
       [0.6859902 ],
       [0.04447871],
       [0.19832149],
       [0.37740767],
       [0.10382026],
       [0.9808401 ],
       [0.02812907],
       [0.6128014 ],
       [0.04392037],
       [0.9744109 ],
       [0.03106511],
       [0.8781469 ],
       [0.73936176],
       [0.03106511],
       [0.4992868 ],
       [0.03252152],
       [0.09445503],
       [0.19832149],
       [0.3113969 ],
       [0.04392037],
       [0.04392037],
       [0.04143465],
       [0.03106511],
       [0.12997735],
       [0.09824595],
       [0.7196944 ],
       [0.95433456],
       [0.3113969 ],
       [0.85358447],
       [0.40969545],
       [0.02812907],
       [0.04032174],
       [0.16847512],
       [0.82023484],
       [0.02818069],
       [0.80060625],
       [0.37740767],
       [0.44135034],
       [0.03252152],
       [0.12643167],
       [0.03252152],
       [0.02812907],
       [0.03252152],
       [0.03252152],
       [0.03252152],
       [0.80060625],
       [0.04392037],
       [0.04392037],
       [0.03106511],
       [0.9024679 ],
       [0.6542534 ],
       [0.03252152],
       [0.02812907],
       [0.19832149],
       [0.03252152],
       [0.4813616 ],
       [0.04392037],
       [0.19832149],
       [0.03106511],
       [0.9812612 ],
       [0.6128014 ],
       [0.09824595],
       [0.80060625],
       [0.01989615],
       [0.02812907],
       [0.02338377],
       [0.02338377],
       [0.37740767],
       [0.10993379],
       [0.37740585],
       [0.7196944 ],
       [0.6507157 ],
       [0.03252152],
       [0.03252152],
       [0.19832149],
       [0.12997735],
       [0.03252152],
       [0.01989615],
       [0.4992868 ],
       [0.09824595],
       [0.09862456],
       [0.02812907],
       [0.04392037],
       [0.53421265],
       [0.09824595],
       [0.19832149],
       [0.02812907],
       [0.02812907],
       [0.19832149],
       [0.00909853],
       [0.02812907],
       [0.4992868 ],
       [0.8535844 ],
       [0.982693  ],
       [0.4379197 ],
       [0.19832149],
       [0.34255457],
       [0.04391804],
       [0.09824595],
       [0.03252152],
       [0.4992868 ],
       [0.9716438 ],
       [0.7197165 ],
       [0.06820849],
       [0.02812907],
       [0.03222811],
       [0.03584003],
       [0.02812907],
       [0.12997735],
       [0.37131667],
       [0.19832149],
       [0.99369884],
       [0.03252152],
       [0.9486138 ],
       [0.02826437],
       [0.02832845],
       [0.02865109],
       [0.6664541 ],
       [0.03252152],
       [0.09824595],
       [0.7196944 ],
       [0.04392037],
       [0.19832149],
       [0.09445503],
       [0.07007617],
       [0.01989615],
       [0.09824595],
       [0.01989615],
       [0.02945209],
       [0.0500747 ],
       [0.95433456],
       [0.01056182],
       [0.37740767],
       [0.09445503],
       [0.24903092],
       [0.02812907],
       [0.6409289 ],
       [0.9543346 ],
       [0.01989615],
       [0.02338377],
       [0.17602542],
       [0.41445267],
       [0.06940639],
       [0.19746006],
       [0.06423452],
       [0.03106511],
       [0.34255457],
       [0.02600431],
       [0.68943906],
       [0.6439773 ],
       [0.02812907],
       [0.96934724],
       [0.0500747 ],
       [0.09824595],
       [0.6859902 ],
       [0.80060625],
       [0.03252152],
       [0.02812907],
       [0.9722612 ],
       [0.19832149],
       [0.09445503],
       [0.97701454],
       [0.9716438 ],
       [0.6128014 ],
       [0.02812907],
       [0.06195244],
       [0.39858896],
       [0.03106511],
       [0.04392037],
       [0.4992868 ],
       [0.5956506 ],
       [0.01989615],
       [0.9749908 ],
       [0.04392037],
       [0.09445503],
       [0.03106511],
       [0.1549024 ],
       [0.19832149],
       [0.95531166],
       [0.5553484 ],
       [0.01262856],
       [0.13450047],
       [0.9950044 ],
       [0.03106511],
       [0.91483396],
       [0.04392037],
       [0.06423452],
       [0.95433456],
       [0.02812907],
       [0.9050953 ],
       [0.19832149],
       [0.16847512],
       [0.0122295 ],
       [0.02812907],
       [0.6518431 ],
       [0.37740767],
       [0.67301995],
       [0.37712184],
       [0.9812612 ],
       [0.37740767],
       [0.03252152],
       [0.9716439 ],
       [0.01092434],
       [0.03252152],
       [0.34567273]], dtype=float32)

In [52]:
final_pred = (best.predict(X_test) > 0.5).astype("int32").flatten()

In [53]:
final_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])

In [54]:
d = {"PassengerId":PassengerId, "Survived":final_pred}
pd.DataFrame(data=d,index=None, columns= ["PassengerId","Survived"]).to_csv("12232021.csv",index=False, header=1)